<h1>My Tasks</h1>

<% @tasks.each do |task| %>
  <div>
  <input type="checkbox" id=<%task.id%>>
  <p><%= link_to task.title, "/tasks/#{task.id}"%></p>
  </div>
<% end %>


<p><%= link_to 'Create new task', '/tasks/new' %></p>
